<!DOCTYPE html>
<html>
<head>
  <title>SocialShare</title>
  <%= stylesheet_link_tag 'application',bootstrap_css, media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application',bootstrap_js, 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <%= yield %>
</div>

</body>
</html>
